body {
    font-family: 'Roboto Condensed', Helvetica, sans-serif;
    text-align: left;
    font-size: 18px;
    color: #303030;
}

.extend {
    table-layout: fixed;
    width: 50%
}

.small {
    padding: 0 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vert-align: middle;
}

.table td, .table th {
    vertical-align: middle;
}

.td-alignment-center {
    text-align: center;
}

.td-alignment-left {
    text-align: left;
}

.product_img {
    margin: 0 auto;
    width: 100px;
    height: 100px;
}

.product_img img {
    width: 100%;
    height: 100%;
}

.refreshSuccessAlert {
    position: fixed;
    bottom: 5px;
    left: 2%;
    width: 96%;
}

.removedProductAlert {
    position: fixed;
    bottom: 5px;
    left: 2%;
    width: 96%;
}

.alert {
    display: none;
}