body {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 250px 1fr 100px;
    display: grid;
    background-color: #cccccc;
    grid-column-gap: 16px;
    grid-template-areas: "hd hd hd hd hd hd hd hd hd hd hd hd " "mn mn mn mn mn mn mn mn mn mn mn mn" "ft ft ft ft ft ft ft ft ft ft ft ft";
    margin: 0px 140px;
}

header {
    background-color: #FFBE3D;
    grid-area: hd;
    display: grid;
    background-image: url(../img/woodplanks.jpg);
    background-position: center;
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
    border-right: 1px solid #ffffff;
    padding: 0 10px;
}

li:last-child {
    border-right: none;
}

a {
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-decoration: none;
}

#box1 {
    grid-column: 1 / 4;
    grid-row: 1 / 5;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #cccccc url(../img/logo-edit.png) no-repeat center;
    background-size: cover;
}

#box2 {
    background-color: transparent;
    grid-row: 2 / 3;
    grid-column: 9 / 13;
    text-align: center;
    display: flex;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    outline: #ffffff auto;
    color: #ffffff;
    padding: 0 30px;
}

#box4 {
    background-color: #131110;
    grid-row: 5 / 6;
    grid-column: 1 / 13;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
    background-color: white;
    grid-area: mn;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 16px;
    display: flex;
    display: grid;
    padding: 60px 0;
}

.product {
    grid-column: span 3;
    background-color: #ffffff;
    position: relative;
}

.product_img {
    margin: 0 auto;
    width: 50%;
}

.product_img img {
    width: 100%;
}

h1 {
    font-family: garamond;
    font-size: 22px;
}

h2 {
    font-family: garamond;
    font-size: 18px;
    color: #FFBF0A;
}

.product:hover {
    border-color: #131110;
    outline: solid 3px;
}

.mdl-buttonmdl-button {
    align-content: center;
}

#product_see_more {
    grid-column: span 12;
    margin: 0 auto;
}

footer {
    grid-area: ft;
    grid-template-columns: 1 / 13;
    grid-template-rows: 8 / 12;
    display: grid;
}

.footerimage {
    background: #cccccc url(../img/woodplanks.jpg) no-repeat center;
    background-size: cover;
    position: relative;
    display: grid;
    height: 100px;

}

